body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Změněná barva pozadí */
    color: #333;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    margin: 0;
}

p {
    margin-top: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
