body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa; /* Změněná barva pozadí */
    color: #333;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    margin: 0;
}

b {
    color: #333;
}

input[type="text"],
input[type="submit"],
input[type="radio"]
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    color: white;
    background-color: #f44336;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #d32f2f;
}

form {
    margin-top: 20px;
}

span.error {
    color: red;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: inline-block;
    width: 80%;
    max-width: 500px;
}