<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chovatel Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet_d.css}">
</head>
<body>
<h1>Detail Chovatele:</h1>
<b>Jméno:</b> <span th:text="${chovatel.jmenoChovatele}"></span><br>
<b>Adresa:</b> <span th:text="${chovatel.adresa}"></span><br>
<b>Email:</b> <span th:text="${chovatel.email}"></span><br>
<b>Telefon:</b> <span th:text="${chovatel.telefon}"></span><br>
<a th:href="@{${'/chovatel/edit/' + chovatel.id}}">Editovat Chovatele</a>
<br>
<a th:href="@{${'/chovatel/delete/' + chovatel.id}}">Smazat Chovatele</a>
<br>
<a th:href="@{/chovatel}">seznam chovatelů</a>
</body>
</html>
